<<<<<<< HEAD
$mainBackground: #a9b89e;
$secondaryBackground: #fff;
$messagesBackground: #e4eaee;

$mainFontColor: #2b343a;
$secondaryFontColor: #8a98ac;

$blue: #4c7cf3;
$green: #2bcd72;
$red: #ff4b5b;
$yellow: #fac751;
$laguna: #52c4ca;

$leftColumnBackground: #505d71;

$sendBackground: #a0b4c0;

$userColor: #bcc3d0;
=======
$primary: #7e5ce8;

$primaryGradient: linear-gradient(to right, #805be8, #5570e7);

$mainBg: #f1f1f1;
$secondaryBg: #fff;

$sidebarMainBg: #45515f;
$sidebarSecondaryBg: #313b48;

$mainFont: #262930;
$secondaryFont: #fafafa;

>>>>>>> 97b5a724b3f0660a643d1630995318a4495e5a7a
